In [1]:
import tkinter as tk

import login_window

import db_manager as db

In [2]:
"""Create and maintains the window."""
root = tk.Tk()
application = login_window.LoginWindow(root)
application.initialize_login_window()
root.mainloop()

In [3]:
# # import the module sqlite3

# import sqlite3

 

# # Make a connection to the SQLite DB

# dbCon = sqlite3.connect("dataa.db")

 

# Obtain a Cursor object to execute SQL statements

# cur   = dbCon.cursor()

 

# # # Add a new column to student table

# addColumn = "ALTER TABLE Customers DROP COLUMN cc INT NOT NULL DEFAULT (11112222333344445555)"


# cur.execute(addColumn)

 

# # Add a new column to teacher table

# addColumn = "ALTER TABLE teacher ADD COLUMN Address varchar(32)"

# cur.execute(addColumn)

 

# # Retrieve the SQL statment for the tables and check the schema

# masterQuery = "select * from sqlite_master"

# cur.execute(masterQuery)

# tableList = cur.fetchall()

# tableList

 

# for table in tableList:

#     print("Database Object Type: %s"%(table[0]))

#     print("Database Object Name: %s"%(table[1]))

#     print("Table Name: %s"%(table[2]))

#     print("Root page: %s"%(table[3]))

#     print("**SQL Statement**: %s"%(table[4]))

 

# # close the database connection

# dbCon.close()

In [4]:
# new_tab = ("""CREATE TABLE IF NOT EXISTS new_tab(id_customer INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,login TEXT NOT NULL, password TEXT NOT NULL, customer_name TEXT NOT NULL, phone TEXT DEFAULT (0) NOT NULL, email TEXT    NOT NULL, perm INT NOT NULL DEFAULT (0), cc INT NOT NULL DEFAULT (1111222233334444), exp_date TEXT NOT NULL, ccv INT NOT NULL DEFAULT (123))""")
# cur.execute(new_tab)

# cur.execute('DROP TABLE Customers')

# cur.execute('ALTER TABLE new_tab RENAME TO Customers')

# #cur.execute('COMMIT')

# cur.execute('PRAGMA foreign_keys=on')